<!-- -->
<div class="item" data-id="{{ }}">
    <div class="ts input">
        <input type="text" value="{{ }}">
    </div>
    <button class="ts button" onclick="Todo.Update">更新</button>
    <button class="ts button" onclick="Todo.Delete">移除</button>
</div>
<!-- / -->